packages:
  yum:
    htop: []
    nginx: []
    php56-fpm: []

files:
  "/opt/elasticbeanstalk/hooks/configdeploy/enact/99_reload_app_server.sh" :
    mode: "000777"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars

      sed -e '/;Env/q' /etc/php-fpm-5.6.d/www.conf > /etc/php-fpm-5.6.d/www.conf-tmp
      cat /opt/elasticbeanstalk/support/envvars | while read line; do echo $line | sed s/\"\"/\$NULL/ | sed s/export\ /env[/ | sed s/=/]\ =\ / >> /etc/php-fpm-5.6.d/www.conf-tmp; done
      rm -f /etc/php-fpm-5.6.d/www.conf
      mv /etc/php-fpm-5.6.d/www.conf-tmp /etc/php-fpm-5.6.d/www.conf

      chmod -R 777 /var/lib/nginx
      service httpd stop
      service nginx stop
      service php-fpm stop
      service php-fpm start
      service nginx start


  "/opt/elasticbeanstalk/hooks/appdeploy/enact/99_reload_app_server.sh" :
    mode: "000777"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      . /opt/elasticbeanstalk/support/envvars

      sed -e '/;Env/q' /etc/php-fpm-5.6.d/www.conf > /etc/php-fpm-5.6.d/www.conf-tmp
      cat /opt/elasticbeanstalk/support/envvars | while read line; do echo $line | sed s/\"\"/\$NULL/ | sed s/export\ /env[/ | sed s/=/]\ =\ / >> /etc/php-fpm-5.6.d/www.conf-tmp; done
      rm -f /etc/php-fpm-5.6.d/www.conf
      mv /etc/php-fpm-5.6.d/www.conf-tmp /etc/php-fpm-5.6.d/www.conf

      chmod -R 777 /var/lib/nginx
      service httpd stop
      service nginx stop
      service php-fpm stop
      service php-fpm start
      service nginx start


  "/etc/nginx/nginx.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      user                 webapp; # Needed for permissions
      pid                  /var/run/nginx.pid;
      worker_processes     4; # Match number of cores
      worker_rlimit_nofile 200000;

      error_log            /var/log/nginx/nginx-error.log error;

      events {
        worker_connections 5120;
        multi_accept       on;
        use                epoll;
      }

      http {
        access_log               off;
        include                  mime.types;
        default_type             application/octet-stream;
        set_real_ip_from         127.0.0.1;
        real_ip_header           X-Forwarded-For;

        open_file_cache          max=200000 inactive=20s;
        open_file_cache_valid    30s;
        open_file_cache_min_uses 2;
        open_file_cache_errors   on;

        # TCP options
        tcp_nodelay               on;
        tcp_nopush                on;
        sendfile                  on;
        send_timeout              10;
        client_body_timeout       10;
        keepalive_timeout         30;
        keepalive_requests        100000;
        reset_timedout_connection on;
        types_hash_max_size       2048;
        port_in_redirect          off;
        server_tokens             off; # Remove version info

        # Compression
        gzip              on;
        #gzip_http_version 1.0;
        gzip_types        text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript application/javascript text/x-js;
        gzip_proxied      any;
        gzip_comp_level   6;
        gzip_buffers      16 8k;
        gzip_vary         on;

        include /etc/nginx/conf.d/*.conf;
      }

  "/etc/nginx/conf.d/webapp.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      server {
        listen      80;
        server_name _;
        root        /var/www/html/web;
        index       index.php index.html index.htm;

        port_in_redirect off;
        server_tokens    off;
        autoindex        off;

        client_max_body_size    20m;
        client_body_buffer_size 128k;
        
        set $fwd_protocol "http";
        set $ssl_state "off";
        if ($http_x_forwarded_proto = "https") {
          set $fwm_protocol "https";
          set $ssl_state "on";
        }

        # Block bad bots
        if ($http_user_agent ~* (HTTrack|HTMLParser|libcurl|discobot|Exabot|Casper|kmccrew|plaNETWORK|RPT-HTTPClient)) {
          return 444;
        }

        # No logs, to avoid filling the instance disk
        log_not_found off;
        access_log    off;

        # Rewrites
        include rewrite-rules.conf;
        
        # Deny all attempts to access hidden files such as .htaccess, .htpasswd, .DS_Store (Mac).
        location ~ /\. {
          deny all;
        }

        # Example of "mod_rewrite" for use with a framework or wordpress or others.
        location / {
          try_files $uri $uri/ /index.php?$args;
          #htpasswdholder;
        }

        # Tell browser to cache image files for 24 hours, do not log missing images
        # I typically keep this after the yii rules, so that there is no conflict with content served by Yii
        location ~* \.(js|css|png|jpg|jpeg|gif|ico)$ {
          expires 24h;
        }

        # Block for processing PHP files
        # Specifically matches URIs ending in .php
        location ~ \.php$ {
          try_files $uri =404;
          fastcgi_param  HTTPS $ssl_state;

          # Fix for server variables that behave differently under nginx/php-fpm than typically expected
          fastcgi_split_path_info ^(.+\.php)(/.+)$;
          # Include the standard fastcgi_params file included with nginx
          include fastcgi_params;
          fastcgi_param  PATH_INFO  $fastcgi_path_info;
          fastcgi_index index.php;
          # Override the SCRIPT_FILENAME variable set by fastcgi_params
          fastcgi_param  SCRIPT_FILENAME  $document_root$fastcgi_script_name;
          # Pass to upstream PHP-FPM; This must match whatever you name your upstream connection
          fastcgi_pass unix:/var/run/php-fpm/php-fpm.sock; # Using socket, faster
          #fastcgi_buffers             256 16k;
          #fastcgi_intercept_errors    on;
          fastcgi_ignore_client_abort  off;
          fastcgi_connect_timeout      60;
          fastcgi_send_timeout         180;
          fastcgi_read_timeout         180;
          fastcgi_buffer_size          128k;
          fastcgi_buffers              4 256k;
          fastcgi_busy_buffers_size    256k;
          fastcgi_temp_file_write_size 256k;
        }

        # NginX Status
        location /nginx_status {
          stub_status on;
          access_log   off;
        }

        # FPM Status
        location ~ ^/(status|ping)$ {
          fastcgi_pass unix:/var/run/php-fpm.sock;
          access_log      off;
        }
      }

  "/etc/php-fpm-5.6.d/www.conf" :
    mode: "000644"
    owner: root
    group: root
    content: |
      [www]
      listen = /var/run/php-fpm/php-fpm.sock
      listen.allowed_clients = 127.0.0.1

      ; Need to set owner/group for valid permissions
      listen.owner = webapp
      listen.group = webapp
      user = webapp
      group = webapp

      ; Child processes
      pm = dynamic
      pm.max_children = 60
      pm.start_servers = 12
      pm.min_spare_servers = 12
      pm.max_spare_servers = 18
      pm.max_requests = 600

      ; Timeouts
      request_terminate_timeout = 120s
      request_slowlog_timeout = 5s
      slowlog = /var/log/nginx/fpm-slow.log


      ; PHP settings
      php_admin_value[error_log] = /var/log/nginx/php-error.log
      php_admin_flag[log_errors] = on
      php_admin_flag[display_errors] = on

      ; Default Env
      env[HOSTNAME] = $HOSTNAME
      env[TMP] = /tmp
      env[TMPDIR] = /tmp
      env[TEMP] = /tmp

      ;Environment
