files:
  "/tmp/deployment/nginx_auth.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      if [ "$AWS_ENV" != "production" ]; then
        sed -i 's/#htpasswdholder;/#htpasswdholder;\n     auth_basic "Restricted";\n  auth_basic_user_file \/etc\/nginx\/.htpasswd;\n/' /etc/nginx/conf.d/webapp.conf
      else
        sed -i 's/#htpasswdholder;\n     auth_basic "Restricted";\n  auth_basic_user_file \/etc\/nginx\/.htpasswd;\n/#htpasswdholder;/' /etc/nginx/conf.d/webapp.conf
      fi


container_commands:
  nginx_auth:
    command: "/tmp/deployment/nginx_auth.sh"
